{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="Library Management System">
        <meta name="description" content="Library Management System">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/full-width-pics.css' %}">
        <title>LMS</title>
  </head>
  <body>
      <!-- Navigation -->
      <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md fixed-top">
          <div class="container">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <img src="{% static 'img/logo.png' %}" alt="logo" style="width:30px;"/>
                  Library
              </a>
              <div class="collapse navbar-collapse" id="navbarsExampleContainer">
                  <ul class="navbar-nav mr-auto">
                      {% if page == 'book_info' %}
                          <li class="nav-item active">
                              <a class="nav-link" href="/interface/book_info">Books' Info <span class="sr-only">(current)</span></a>
                          </li>
                      {% endif %}
                      {% if page == 'user_info' %}
                          <li class="nav-item active">
                              <a class="nav-link" href="/interface/user_info">User's Info <span class="sr-only">(current)</span></a>
                          </li>
                      {% endif %}
                      <li class="nav-item">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <!-- <li class="nav-item">
                           <a class="nav-link" href="/admin/">Admin</a>
                           </li> -->
                      <!-- <li class="nav-item">
                           <a class="nav-link disabled" href="#">Disabled</a>
                           </li> -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown01">
                              {% if user.is_superuser %}
                              <a class="dropdown-item" href="/admin">Admin Panel</a>
                              {% else %}
                              <a class="dropdown-item" href="/interface/user_info">Info</a>
                              {% endif %}
                              <!-- <a class="dropdown-item" href="/setting">Setting</a> -->
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/logout">Log out</a>
                          </div>
                      </li>
                  </ul>
                  <form method="GET" role="form" class="form-inline my-2 my-md-0">
                      <input class="form-control mr-sm-2" type="text" name="Search" placeholder="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </div>
          </div>
      </nav>

      <!-- Header - set the background image for the header in the line below -->
      <header class="py-5 bg-image-full" style="background-image: url('{% static 'img/header1.jpeg' %}');">
          <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
          <div class="d-block mx-auto py-5">
              {% if page == 'book_info' %}
                  <h1 class="site-heading" style="color:White;" align="center">图书信息</h1>
              {% endif %}
              {% if page == 'user_info' %}
                  <h1 class="site-heading" style="color:White;" align="center">读者信息</h1>
              {% endif %}
          </div>
      </header>

      <!-- Content section -->
      {% block content %}
      {% endblock %}

      <!-- Footer -->
      <footer class="py-2 bg-inverse fixed-bottom">
          <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Tshu's Website 2017</p>
          </div>
          <!-- /.container -->
      </footer>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>
